/*Style for ">" next and "<" previous buttons */
.slider-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
/* setting the position of the next button towards right */
.next {
  right: 2%;
}

/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}

/** Inputs Codes **/

input {
  background-color: transparent !important;
  position: absolute;
  border: none !important;
  color: teal !important;
}
input [type="radio"] {
  background-color: #3b4252;
}

input > .saved {
  color: magenta !important;
}

input > .edition {
  color: teal !important;
}
